.home {
  background-size: cover;
  background-position: center;
  position: relative;
}

.home::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.home  * {
  position: relative;
  z-index: 2;
}

.home  h1, .home h2 {
  color: white;
}

.home  h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
.home  h2 {
  font-size: 30px;
  padding-top: 140px;
  margin-top: 0;
}

.backgroundImage{
  min-height: 150px;
  max-height: 350px;
  padding-top: 0px;
  width: 100%;
}
