.footer {
  min-height: 100px;

  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: #000000;
  color:white ;
  /* Box-model */
  width: 100%;
  margin-top: 30px;
}
